
/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
*/

/* Bootstrap default font-family is Helvetica Neue */
h1 {
  font-family: "arial";
 
}
/* my css */


html {
  scroll-behavior: smooth;
}

body {
  width:100%;
  overflow-x: hidden;
}

.home_banner {
  padding: 0px;
  margin: 0px;
  width: 100%;

}

#header {
  height: 160px;
  padding: 22px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  z-index: 11;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
#header {
  height: 80px;
  padding: 22px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  z-index: 11;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

#nav {
  position: absolute;
  right: 15px;
  top: 10px;
}
#nav ul li {
  list-style: none;
  display: inline;
  margin-left: 10px;
  margin-left: 15px;
  font-family: arial;
  font-weight: 500;
}

#nav ul li a {
  color:#f07;
  text-decoration: none;
  font-weight: 700;
}
.logo {
  width:135px;
}

.main {
  padding: 0px;
  margin:0px;
  border: 25px solid #323232;

}
.intro_msg {
  background: #f04a90;
  text-align: center;
  padding: 10px 0px;
  color:#fff;
}

h2 {
  font-family: arial;
  font-size: 27px;
}

p {
  font-family: arial;
  margin-bottom: 0px;
 
}

.services {
  background-color: pink;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}
.services .col-3 {
  height: 100px;
  line-height: 100px;
  text-align: center;
  border: 3px dashed #f04a90;

}

.services .col-3 p{
  font-family: arial;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  color:#fff;
}

.services .col-3 p:hover{
  font-size: 17px;
  line-height: 110px;
  transition-delay: 0.3s;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 0px;
  padding-bottom: 13px;
}

.modal-content {
  background-color: #FFB6C1;

}

.modal-title {
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  font-family: arial;
  text-align: center;
  color:#fff;
}
.modal-header {
  border-bottom: none;
  display: inline-block;
  padding-bottom: 0px;
}

.modal-footer {
  border-top:none;
}

.modal-body {text-align:center; padding-top: 0px;}


.glow {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.btn-primary {
  background-color: #df9596;
  border-color: #df9596;
}

.btn-primary:hover {
  background-color: #df9596;
  border-color: #df9596;
}

/* custom select */

.modal-header .close {
  position: relative;
  bottom: 32px;
}

.form-group {
  text-align: left;
  font-size:15px;
  font-family: arial;
  color:#fff;
  margin-bottom: 1px;
}
.form-group label {
  margin-bottom:1px;
}
.modal-body form {
  width:95%;
  padding-top: 10px;
}

h3  {
  font-size: 20px;
color: #fff;
font-family: arial;
}

.space {
  height: 5px;
  background-color: #fff;
  width:100%;
}
.label {
  color:#fff;font-weight: 600;font-family: arial;
}

.card-text {color:pink; font-family: arial;font-weight: bold;}

#services_section {
  padding-left: 30px;
  padding-right: 30px;
}